@import "tailwindcss";

body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    background: #f5f0f0;
    color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
}

p{font-size: 14px; line-height: 25px; margin-bottom: 10px; margin-top: 10px;}

h1, h2, h3, h4, h5, h6{font-weight: 600;}

::-webkit-scrollbar{
    width: 8px !important;
    height: 8px !important;
}

::-webkit-scrollbar-thumb{
    background: #ff5252;
}

::-webkit-scrollbar-track{
    background: #fff;
}

header .top-strip{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.link:hover,.Mui-checked{
    color: #ff5252 !important;
}

.bg-org{
    background: #ff5252;
}

.container {
    width: 95%;
    margin: auto;
}

.MuiBadge-badge{
    background: #ff5252 !important;
}

nav ul button{
    text-transform: capitalize !important;
}

nav ul button:hover{
    background: none !important;
}

.sliderHome{
    overflow: inherit !important;
}

/* .swiper-button-prev, .swiper-button-next{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    min-width: 45px;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d !important;
} 

.swiper-button-prev:after, .swiper-button-next:after{
    font-size: 10px !important;
    color: #000 !important;
} */

.mySwiper .swiper-button-next, .mySwiper .swiper-button-prev{
    width: 30px;
    height: 30px;
    min-width: 30px;
}

.mySwiper .swiper-button-next, .mySwiper .swiper-button-prev:after{
    font-size: 18px !important;
}

.smlBtn .swiper-button-prev, .smlBtn .swiper-button-next{
    width: 35px;
    height: 35px;
    min-width: 35px;
}   

.smlBtn .swiper-button-prev:after, .smlBtn .swiper-button-next:after{
    font-size: 18px !important;
}

.homeCatSlider .item:hover img{
    transform: scale(1.1);
}

.MuiTabs-indicator {
    background-color: #ff5252 !important;
}

.MuiTab-textColorPrimary.Mui-selected {
    color: #ff5252 !important;
}

.productItem .swiper-wrapper{
    padding: 15px;
    margin-left: -15px;
    margin-right: -15px;
}

.btn-org{background: #ff5252 !important; color: #fff !important; font-weight: 500; font-size: 16px; padding: 7px 20px !important; border:1px solid transparent !important; }
.btn-org:hover{background: #171717 !important;}

.btn-org.btn-border{background: none !important; color: #ff5252 !important; border:1px solid #ff5252 !important; font-weight: 500; font-size: 16px; padding: 7px 20px !important;}
.btn-org.btn-border:hover{background: #171717 !important; color: #fff !important;  border:1px solid #171717 !important;}

.otpBox input{border: 1px solid rgba(0,0,0,0.3) !important; outline: none !important;
  border-radius: 4px;}
  .otpBox input:focus{border: 1px solid rgba(0,0,0,0.7) !important;}
  
  .otpPage .container{height:90vh; display: flex;}




