.productItem .title{line-height: 18px;}
.productItem .actions button:hover svg{color: #fff !important;}
.productItem .actions button svg{pointer-events:none !important;}
.productItem .actions button:hover{background-color: #ff5252 !important;}